######## Ignore mac files ########
.DS_Store

######## Ignore rails stuff ########
# Ignore bundler config.
rails-server/.bundle

# Ignore the default SQLite database.
rails/db/*.sqlite3
rails/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
rails/log/*
# !/log/.keep
rails/tmp

######## Ignore python stuff ########
.venv
python-server/__pycache__

# Ignore everything in the data folder
python-server/data/*

# But don't ignore the users.db file
!python-server/data/users.db