######## Ignore mac files ########
.DS_Store

######## Ignore rails stuff ########
# Ignore bundler config.
rails-server/.bundle

# Ignore the default SQLite database.
rails/db/*.sqlite3
rails/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
rails-server/log/
# !/log/.keep
rails-server/tmp
rails-server/.byebug_history

rails-server/coverage
######## Ignore python stuff ########
.venv*
.vscode
.pytest_cache
python-server/__pycache__
python-server/app/.env
__pycache__

# Ignore everything in the data folder
python-server/data/*

myenv

# But don't ignore the users.db file
!python-server/data/users.db
cloud-sql-proxy
proxy.log
cloud-sql-proxy
cloud-sql-proxy
cloud_sql_proxy.exe

.env