######## Ignore mac files ########
.DS_Store

######## Ignore rails stuff ########
# Ignore bundler config.
rails-server/.bundle

# Ignore the default SQLite database.
rails/db/*.sqlite3
rails/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
rails-server/log/
# !/log/.keep
rails-server/tmp
rails-server/tmp/cache
rails-server/.byebug_history

######## Ignore python stuff ########
