html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin); /* Responsive font size */
}

.container-fluid {
  height: 100vh;
}

.dropdown {
  margin-top: 50px; /* Adjust this value to move the buttons down */
}

.sidebar {
  position: relative;
  width: 17vw; /* Use vw for a responsive width */
  transition: width 0.3s ease;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 2vw;
  height: 100vh;
  background-color: #F0F4F9;
}
.sidebar-hidden {
  display: none !important;
}


.menu-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  z-index: 1;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar ul li{
  margin-left: -2vw;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 1vh 0;
  border-radius: 0.5vh;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  padding: 1vh 0 1vh 3vw; /* Add left padding to offset text */
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #e0e0e0;
  color: #333;
  font-weight: 700;
}

.menu-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 100vh;
  background-color: #ffffff;
  flex-grow: 1;
  transition: all 0.3s ease;
}

.center-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  margin-bottom: 5vh;
  width: 100%; /* Ensure the content takes the full width */
  justify-content: flex-start;
  overflow-y: auto;
}

.welcome-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.genie-logo {
  width: 100%; /* Adjust the width as needed */
  max-width: 80vw; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
}

.responsive-svg {
  width: 100%; /* Make SVG responsive */
  height: auto; /* Maintain aspect ratio */
}


.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 2vh;
  padding: 0 2vw;
  box-sizing: border-box;
  max-width: 80vw; /* Ensure bottom section does not exceed full width using vw */
  overflow: hidden; /* Prevents horizontal overflow */
}

.input-group {
  align-items: center;
}

.form-control {
  border: none;
  box-shadow: none;
  flex-grow: 1; /* Ensures the input field grows to take up remaining space */
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2vh;
}

.action-btn {
  display: none;
  padding: 1vh 2vw;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  margin-right: 1vw;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  background-color: #f8f9fa; /* Light background color */
}

.explore {
  width: 100%;
  display: table;
}

.explore-input {
  display: table-cell;
  height: 100%;
  width: 96%;
  padding-right: 1vw;
}

.input-group-append .explore-btn {
  display: table-cell;
  width: 4%;
  padding: 1vh 2vw;
  background-color: transparent; /* Transparent background */
  color:#ffffff;
  border: none;
  margin-left: 1vw;
  cursor: pointer;
}

.centered-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  width: 80%;
  max-width: 50vw;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.chat-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.messages-wrapper {
  width: 100%;
  max-width: 80vw;
  height: 100%;
}

.chat-history p {
  margin: 0;
}

.chat-history strong {
  display: block;
  margin-bottom: 0.5vh;
}

.scrollable-section {
  max-height: 70vh;
  overflow-y: auto;
}

#sidebar-wrapper {
  width: 250px;
  transition: all 0.3s;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -250px;
}

#page-content-wrapper {
  width: 100%;
  transition: all 0.3s;
}

#wrapper.toggled #page-content-wrapper {
  margin-left: 0;
}

/* Loading Animation */

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-animation .ball {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background: #007bff;
  animation: bounce 0.4s infinite alternate;
}

.loading-animation .ball:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-animation .ball:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px);
  }
}

.hidden {
  visibility: hidden;
}

/* Default scrollbar style */
.chat-history::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chat-history::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.chat-history::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
  transition: 0.3s ease, width 0.3s ease; /* Smooth transition */
}

.chat-history::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the scrollbar thumb */
}

/* Scrollbar style when hovered */
.chat-history.hovered::-webkit-scrollbar {
  width: 16px; /* Wider width when hovered */
}

.chat-history.hovered::-webkit-scrollbar-thumb {
  background: #555; /* Darker color when hovered */
}

.chat-history::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.chat-history.hovered::-webkit-scrollbar-button {
  display: block;
  width: 16px; /* Width of the scrollbar arrows */
  height: 16px; /* Height of the scrollbar arrows */
  background-color: #555; /* Color of the scrollbar arrows */
}

.chat-history::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"%3E%3Cpath d="M7 14l5-5 5 5H7z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.chat-history::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"%3E%3Cpath d="M7 10l5 5 5-5H7z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

/* Default scrollbar style */
.scrollable-section::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollable-section::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.scrollable-section::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
  transition: 0.3s ease, width 0.3s ease; /* Smooth transition */
}

.scrollable-section::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the scrollbar thumb */
}

.scrollable-section.hovered::-webkit-scrollbar {
  width: 16px; /* Wider width when hovered */
}

.scrollable-section.hovered::-webkit-scrollbar-thumb {
  background: #555; /* Darker color when hovered */
}

.scrollable-section::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.scrollable-section.hovered::-webkit-scrollbar-button {
  display: block;
  width: 16px; /* Width of the scrollbar arrows */
  height: 16px; /* Height of the scrollbar arrows */
  background-color: #555; /* Color of the scrollbar arrows */
}

.scrollable-section::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"%3E%3Cpath d="M7 14l5-5 5 5H7z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.scrollable-section:-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"%3E%3Cpath d="M7 10l5 5 5-5H7z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

/* Message content */

.message-content {
  text-align: left; 
  word-wrap: break-word; 
  min-width: 50vw; 
  max-width: 50vw;
}

.message-content.user {
  background-color: #007bff; /* Background color for user messages */
  color: white; /* Text color for user messages */
}

.message-content.genie {
  background-color:  #f7f7f7; /* No background color for Genie messages */
  color: inherit; /* Inherit text color */
}

.message-content strong i {
  margin-right: 5px; /* Adjust the spacing as needed */
}

.genie-icon {
  width: 1em; /* Set width to match the font size */
  height: 1em; /* Set height to match the font size */
  margin-right: 5px; /* Adjust the spacing as needed */
  vertical-align: middle; /* Aligns the icon with the text */
}

/* Settings button */

.settings-btn {
  display: flex;
  align-items: center;
  margin: 10px 0; /* Adjust margin as needed */
  border: 1px transparent; /* Border color */
  background-color: transparent; /* Background color */
  color: #333; /* Text color */
  text-decoration: none; /* Remove underline from links */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.settings-btn i {
  margin-right: 8px; /* Space between icon and text */
}

.settings-btn:hover {
  background-color: #e9e9e9; /* Background color on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
}

.settings-btn:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Focus ring */
}

.new-chat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  color: #999;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.new-chat-btn i {
  margin-right: 8px;
}

.new-chat-btn:hover {
  background-color: #e1e1e1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-chat-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vh 2vw; /* Responsive padding */
  border: none;
  border-radius: 2vh; /* Responsive border radius */
  background-color: #FFFFFF; /* Light background color */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.dropdown-btn span {
  color: #ccc; /* Placeholder text color */
}

.dropdown-btn i {
  margin-left: 1vw; /* Responsive margin */
  color: #ccc; /* Icon color */
}

.dropdown-btn:hover {
  background-color: #e1e1e1; /* Background color on hover */
}

.dropdown-btn:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 0.3vh rgba(0, 123, 255, 0.25); /* Focus ring */
}

.dropdown-menu {
  background-color: #ffffff; /* Background color of the dropdown */
  border-radius: 1vh; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 1vh 0; /* Padding inside the dropdown */
}

.dropdown-item {
  color: #333; /* Text color */
  padding: 1vh 2vw; /* Responsive padding */
  text-decoration: none; /* Remove underline from links */
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #e1e1e1; /* Background color on hover */
  color: #007bff; /* Text color on hover */
}


